.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #bbbbbb;
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
    -fx-font-size: 13px;
}

.split-pane {
    -fx-background-color: #2b2b2b;
}

.tree-view {
    -fx-background-color: #2b2b2b;
    -fx-control-inner-background: #3c3f41;
    -fx-cell-hover-color: #45494a;
    -fx-text-fill: #bbbbbb;
}


.tree-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #bbbbbb;
}

.tree-cell:selected:hover,
.tree-cell:selected {
    -fx-text-fill: #ab74e8;
    -fx-font-weight: bold;
}

.tree-cell:hover {
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #bbbbbb;
    -fx-prompt-text-fill: #777777;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: #303030;
    -fx-border-width: 2px;
    -fx-border-radius: 4;
}

.pane {
    -fx-background-color: #2b2b2b;
}

.border-pane {
    -fx-background-color: #2b2b2b;
}

.anchor-pane {
    -fx-background-color: #2b2b2b;
}

.split-pane {
    -fx-background-color: #2b2b2b;
}

.split-pane-divider {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #bbbbbb;
    -fx-border-color: #303030;
}

.button:hover {
    -fx-background-color: #5b2a98;
    -fx-text-fill: #ffffff;
    /*-fx-font-weight: bold;*/
}

.label {
    -fx-text-fill: #bbbbbb;
}

.combo-box {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #303030;
    -fx-border-width: 2px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-text-fill: #ffffff;
}

.combo-box-base {
    -fx-background-color: #2b2b2b, #2b2b2b, #303030, #303030;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
}

.combo-box .prompt-text {
    -fx-fill: #bbbbbb;
}

.combo-box-popup .list-view {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #303030;
}

.combo-box-popup .list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #2b2b2b;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #4b4b4b;
    -fx-text-fill: #ab74e8;
}

.table-view {
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #222222;
    -fx-background-radius: 0;
    -fx-background-color: #222222;
    -fx-table-cell-border-color: #1c1c1c;
}
.table-view:focused {
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #4e4e4e;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
}
.table-view .column-header-background {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #222222;
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #AFB1B3;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #222222;
}
.table-view .column-resize-line {
    -fx-background-color: #4e4e4e;
    -fx-pref-width: 1;
}
.table-row-cell{
    -fx-background-color: #1A1A1A;
    -fx-text-background-color: #AFB1B3;
    -fx-margin: 1;
}
.table-row-cell:hover {
    -fx-background-color: #3E3E40;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:selected {
    -fx-table-cell-border-color: #222222;
    -fx-background-color: #3E3E40;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:pressed {
    -fx-background-color: #4e4e4e;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-view .column-header .label {
    -fx-alignment: center;
    -fx-cursor: HAND;
}
.table-view .filler {
    -fx-background-color: transparent;
}
.table-view .column-drag-header{
    -fx-background-color: #4e4e4e;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}


.check-box:selected > .box {
    -fx-background-color: #ab74e8;
}

.check-box > .box {
    -fx-background-color: #4e4e4e;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: transparent;
}




