.root {
    -fx-background-color: #2e2e2e;
    -fx-code-bg-color: #1e1e1e
}

.styled-text-area {
    -fx-font-size: 24px;
    -fx-background-color: -fx-code-bg-color;
}

.styled-text-area .text {
    /*-fx-font-family: "JetBrains Mono Medium"; !*OS font*!*/
    /*-fx-font-family: "Consolas";*/
}

.styled-text-area .caret {
    -fx-stroke: white;
}

.main-selection {
    -fx-fill: #696969
}

.line-highlighter {
    -fx-fill: #363636
}

.lineno {
    -fx-text-fill: #707070;
    -fx-font-size: 24px;
    -fx-background-color: -fx-code-bg-color;
}

.text-flow .text {
    -fx-fill: #e0e0e0;
}


/*changes TAB in CodeArea, should be in separate css for changing*/
.paragraph-text {
    -fx-tab-size: 4;
}







