.keyword {
    -fx-fill: #569CD6;
    -fx-font-weight: bold;
}

.package {
    -fx-fill: #4EC9B0;
    -fx-font-weight: bold;
}

.constructor {
    -fx-fill: #4EC9B0;
    -fx-font-weight: bold;
}

.interface,
.class {
    -fx-fill: #4EC9B0;
    -fx-font-weight: bold;
}

.method {
    -fx-fill: #DCDCAA;
    -fx-font-weight: bold;
}

.field {
    -fx-fill: #9CDCFE;
    -fx-font-weight: bold;
}

.method-variable {
    -fx-fill: #9CDCFE;
}

.string {
    -fx-fill: #CE9178;
}

.comment {
    -fx-fill: #7e7e7e;
}

.default_text {
    -fx-fill: #e0e0e0;
}

.code-font {
    -fx-font-family: "JetBrains Mono Medium" !important;
}

.console_output {
    -fx-fill: #7c7c7c;
}

.console_input {
    -fx-fill: #5db676;
}

.console_error {
    -fx-fill: #c81b1b;
}

