.root {
  -fx-background-color: #ffffff; }

.recorded-shortcut-label {
  -fx-text-fill: #6f3cb1;
  -fx-font-weight: bold; }

.split-pane {
  -fx-background-color: #ffffff; }

.tree-view {
  -fx-background-color: #ffffff;
  -fx-control-inner-background: #e0e0e0;
  -fx-cell-hover-color: #bdbdbd;
  -fx-text-fill: #616161; }

.tree-cell {
  -fx-background-color: #ffffff;
  -fx-text-fill: #616161; }
  .tree-cell:selected {
    -fx-text-fill: #6f3cb1;
    -fx-font-weight: bold; }
    .tree-cell:selected:hover {
      -fx-text-fill: #6f3cb1;
      -fx-font-weight: bold; }
  .tree-cell:hover {
    -fx-text-fill: #212121; }

.text-field {
  -fx-background-color: #ffffff;
  -fx-text-fill: #616161;
  -fx-prompt-text-fill: #616161;
  -fx-background-insets: 0;
  -fx-background-radius: 4;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 2px;
  -fx-border-radius: 4; }

.pane {
  -fx-background-color: #ffffff; }

.border-pane {
  -fx-background-color: #ffffff; }

.anchor-pane {
  -fx-background-color: #ffffff; }

.split-pane {
  -fx-background-color: #ffffff; }

.split-pane-divider {
  -fx-background-color: transparent; }

.button {
  -fx-background-color: #e0e0e0;
  -fx-text-fill: #616161;
  -fx-border-color: #ffffff; }
  .button:hover {
    -fx-background-color: #6f3cb1;
    -fx-text-fill: #212121; }

.label {
  -fx-text-fill: #616161; }

.combo-box {
  -fx-background-color: #ffffff;
  -fx-border-color: #bdbdbd;
  -fx-border-width: 2px;
  -fx-border-radius: 4;
  -fx-background-radius: 4;
  -fx-text-fill: #212121; }

.combo-box-base {
  -fx-background-color: #ffffff, #ffffff, #e0e0e0, #e0e0e0;
  -fx-background-radius: 5, 5, 4, 3;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-padding: 0; }

.combo-box .list-cell {
  -fx-text-fill: #616161; }

.combo-box .prompt-text {
  -fx-fill: #616161; }

.combo-box-popup .list-view {
  -fx-background-color: #ffffff;
  -fx-border-color: #e0e0e0; }

.combo-box-popup .list-cell {
  -fx-background-color: #ffffff;
  -fx-text-fill: #616161; }

.combo-box-popup .list-cell:hover {
  -fx-background-color: #e0e0e0;
  -fx-text-fill: #212121; }

.combo-box-popup .list-cell:selected {
  -fx-background-color: #bdbdbd;
  -fx-text-fill: #6f3cb1; }

.table-view {
  -fx-border-width: 1;
  -fx-border-radius: 0;
  -fx-border-color: #f5f5f5;
  -fx-background-radius: 0;
  -fx-background-color: #f5f5f5;
  -fx-table-cell-border-color: #ffffff; }
  .table-view:focused {
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #bdbdbd;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
    -fx-background-color: #f5f5f5; }
  .table-view .column-header-background {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f5f5f5;
    -fx-background-radius: 0;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #212121; }
  .table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #f5f5f5; }
    .table-view .column-header .label {
      -fx-alignment: center;
      -fx-cursor: HAND; }
  .table-view .column-resize-line {
    -fx-background-color: #bdbdbd;
    -fx-pref-width: 1; }
  .table-view .filler {
    -fx-background-color: transparent; }
  .table-view .column-drag-header {
    -fx-background-color: #bdbdbd; }
  .table-view .table-cell {
    -fx-text-fill: #212121;
    -fx-alignment: CENTER;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never; }
  .table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0; }

.table-row-cell {
  -fx-background-color: #f5f5f5;
  -fx-text-background-color: #e0e0e0;
  -fx-margin: 1; }
  .table-row-cell:hover {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
    -fx-background-radius: 0; }
  .table-row-cell:selected {
    -fx-table-cell-border-color: #f5f5f5;
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
    -fx-background-radius: 0; }
  .table-row-cell:pressed {
    -fx-background-color: #bdbdbd;
    -fx-background-insets: 0;
    -fx-background-radius: 0; }

.check-box:selected > .box {
  -fx-background-color: #6f3cb1; }

.check-box > .box {
  -fx-background-color: #bdbdbd; }

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
  -fx-background-color: transparent; }

.shortcut-display-label {
  -fx-background-color: #bdbdbd;
  -fx-text-fill: #212121;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-padding: 10px 15px;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 1px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-alignment: center;
  -fx-min-width: 280; }

.validation-label {
  -fx-text-fill: #b13829;
  -fx-font-weight: bold; }

.button:disabled {
  -fx-background-color: #bdbdbd;
  -fx-text-fill: #616161;
  -fx-opacity: 0.7; }

/*# sourceMappingURL=../../../../../../target/settings-light.css.map */